@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../public/fonts/ibm-plex-sans-regular.woff2') format('woff2'),
    url('../public/fonts/ibm-plex-sans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../public/fonts/ibm-plex-sans-semibold.woff2') format('woff2'),
    url('../public/fonts/ibm-plex-sans-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
